/* List of Supremes */
.supremes-list {
    background-color: #333333;
}

.supreme-list-element {
    height: 200px;
    margin: 2px;
    border-width: 4px;
    border-style: inset;
    padding: 5px;
    background-position: right top;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #111111;
    color: #DDDDDD;
}

/* Selected supremes */
.supremes-selected-list {
    background-color: #222222;
    border-width: 4px;
    border-style: inset;
    border-color: #CCCCCC;
    color: #CCCCCC;
}

.supreme-selected-list-element {
    margin: 10px 0px;
    border-width: 4px;
    border-style: inset;
    padding: 5px;
    background-position: right top;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #111111;
    color: #DDDDDD;
}

/* Supreme Origin */
.supreme-origin-mystery {
    background-image: url("../img/origin_mystery.png");
    border-color: #DD0000;
}

.supreme-origin-nature {
    background-image: url("../img/origin_nature.png");    
    border-color: #0050DD;
}

.supreme-origin-science {
    background-image: url("../img/origin_science.png");
    border-color: #F8C70D;
}