body {
  background-color: #FCD347; /* Melting Sun */
}

h2 {
  font-family: 'Bangers', cursive;
  color: #F25B21;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2.3em;
}

.global-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.page-header {
  font-family: 'Oswald', sans-serif;
}

/************/
/* Menu-bar */
/************/
.menu-bar {
  background: #BEB6A3; /* Mesogeion */
  border-top: solid 1px #F25B21; /* Pimping your mom */
  border-bottom: solid 1px #F25B21;
  width: 100%;
}
.menu-box {
  margin: 5px;
  color: #F25B21;
  display: inline;
  font-family: 'Bangers', cursive;
}

/**************************************/
/* Selection of Factions / Alignments */
/**************************************/
.factions-boxes {
  flex-wrap: wrap;
  display: flex;
}
.faction-box {
  background: #BEB6A3;
  padding: 5px;
  width: 189px;
  height: 150px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  font-family: 'Bangers', cursive;
}

.faction-box:hover {
  background: #7EBDA4; /* Kids-sized Fedora */
  border-width: 6px;
  margin: 7px;
}

.faction-box img {
  max-width: 150px;
  max-height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*************************/
/* My Roster of Supremes */
/*************************/
.my-roster {
  flex-wrap: wrap;
  display: flex;
}

.roster-resume {
  margin: 10px;
  color: black;
  font-family: 'Bangers', cursive;
}

.roster-supreme {
  width: 189px;
  height: 150px;
  margin: 10px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border-style: solid;
  border-width: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/************/
/* Supremes */
/************/
.supreme-origin-mystery {
  border-color: #D00;
}

.supreme-origin-science {
  border-color: #F8C70D;
}

.supreme-origin-nature {
  border-color: #0050DD;
}

.supreme-icons {
  text-align: right;
  height: 32px;
  margin-top: 1px;
  margin-right: 1px;
}
.supreme-icons div {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
.supreme-icon-nature {
  background-image: url(../img/origin_nature.png);
}
.supreme-icon-science {
  background-image: url(../img/origin_science.png);
}
.supreme-icon-mystery {
  background-image: url(../img/origin_mystery.png);
}
.supreme-icon-hero {
  background-image: url(../img/hero.png);
}
.supreme-icon-villain {
  background-image: url(../img/villain.png);
}
.supreme-icon-herovillain {
  background-image: url(../img/herovillain.png);
}

.supreme-recruit-values {
  font-family: 'Bangers', cursive;
  background: #BEB6A3;
  border-top: solid 2px #F25B21;
  border-bottom: solid 2px #F25B21;
  border-right: solid 2px #F25B21;
  margin-bottom: 2px;
  margin-left: 0px;
  font-family: 'Bangers', cursive;
  color: #F25B21;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 1em;
  padding-right: 2px;
  display: inline-block;
}

.supreme-name {
  background: #BEB6A3;
  border-top: solid 1px #251D0A;
  border-bottom: solid 1px #251D0A;
  width: 100%;
  text-align: center;
  color: #F25B21;
  font-family: 'Bangers', cursive;
  font-size: 1.4em;
}

.supreme-role {
  background: rgba(75, 71, 64, 0.5);
  width: 100%;
  height: 100px;
  padding-top: 15px;
  text-align: center;
  color: #BEB6A3;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: 'Bangers', cursive;
  font-size: 1.2em;
}
