<div class="roster-supreme" data-bind="css: originCss, attr: { style: supremeImgUrl }, click: recruitDismiss">
  <div class="supreme-icons">
    <div data-bind="css: alignmentIconCss"></div>
    <div data-bind="css: originIconCss"></div>
  </div>
  <div><div class="supreme-recruit-values"><span class="label">AP+ :</span> <span data-bind="text: ap_granted"></span></div></div>
  <div><div class="supreme-recruit-values"><span class="label">Mi+ :</span> <span data-bind="text: minions_granted"></span></div></div>
  <div class="supreme-name" data-bind="text: supremeName"></div>
  <div class="supreme-role" data-bind="text: roleAndLevel"></div>
</div>
